
    body
    {
      font-family: 'Lato', sans-serif;
      font-size: 10pt;
      background-color: white;
      max-width: 1400px;
      /*height:100%;*/
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    ::-webkit-scrollbar {
    width: 12px;
}

    #colonne1, #colonne2, #colonne3, #colonne4 { float:left;}

    #colonne1{
      width: 100px;
    }
    #colonne2{
      width: 45%;
      height: 100%;
    }
    #colonne3{
      width: 20%;
    }

    #colonne4{
      width: 25%;
    }

    .selector{
      cursor: pointer;
      height: 50px;
      line-height:50px;
      border: 2px solid black;
      margin: 10px;
      text-align: center;
    }


    /*---------BROWSER OPTIONS---------*/
    /*---------------------------------*/
    #browserOptions_Uploader{
      /*height: 20px;*/
      border: 2px dotted black;
      margin: 10px;
      padding: 5px;
    }
    #browserOptions_Sms{
      display: none;
      border: 2px dotted black;
      margin: 10px;
      padding: 5px;
    }
    .browserOptions{
      display: none;
      /*height: 20px;*/
      border: 2px dotted black;
      margin: 10px;
      padding: 5px;
    }
    .serverOptions{
      border: 2px dotted black;
      margin: 10px;
      padding: 5px;
      max-height:600px;
      overflow-y:scroll;
    }
    /*---------- AUDIO PLAYER ---------*/
    /*---------------------------------*/
    #audioPreview{
      padding:10px;
      padding-left: 15px;
    }
    .playerControl{
      font-size: 20pt;
      cursor:pointer;
    }
    .fa-play{
      color:black;
      vertical-align: middle;
    }
    .fa-pause{
      display:none;
      color:limegreen;
      vertical-align: middle;
    }

    .playerProgress{
      width: 75%;
      margin-left: 5%;
    }
    .timeCount{
      float:right;
      margin-right: 10px;
      line-height:30px;
    }
    /*---------- VIDEO PLAYER ---------*/
    /*---------------------------------*/
    #videoPreview{
      padding:10px;
      padding-left: 15px;
      display:block;
    }
    #videoPlayer{
      width: 50%;
      vertical-align: middle;
      /*max-height: 200px;*/
      margin-left: 20%;
    }



    /*------------ BROWSER ------------*/
    /*---------------------------------*/
    #browser{
      max-height: 500px;
      height: 100%;
      border: 2px dotted black;
      margin: 10px;
      margin-top:16px;
      padding: 15px;
      overflow-y: scroll;
    }

    #mediasList{
    }
    .icon{
      font-size:16pt;
      margin-right: 6px;
    }
    .view{
      margin-top: 8px;
      /*line-height: 30px;*/
      cursor: pointer;
      width:50%;
      box-sizing: border-box;
      display: inline-block;
      height:35px;
    }

    .icontext{

      display: inline-block;
      max-width:70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .textWrap{
      /*display:inline;*/
    }

    .fileSelected{
      color: limegreen;
      font-weight: bold;
    }

    .textRename{
      width: 60%;
      outline:1px none transparent;
    }

    .fa-trash-o{
      float: right;
      cursor: pointer;
      font-size: 20px;
      /*line-height: 35px;*/
    }
    .trashHide{
      display:none;
    }
    .trashView{
      display:inline;

    }
    #suppr{
      margin-right:5px;
    }

    /*---------SMS WRITER---------
    ----------------------------*/

    #browserOptions_Sms{
      /*display: block;*/
      margin: 10px;
      margin-top:16px;
      padding: 10px;
    }

    #smsTitle{
      width: 70%;
      outline: none;
    }

    .smsContent{
      width: 70%;
      resize: none;
      outline:1px none transparent;
      margin-top: 10px;
    }
    #charCount{
      margin-top: 8px;
      color: gray;
      font-size: 12px;
    }
    #smsButtons{
      float:right;
      margin-top: -50px;
      line-height: 40px;
    }

    .iconButtons{
      font-size: 24pt;
    }
    .iconButtons:active{
      /*opacity: 0.2;*/
      color: limegreen;
    }

    /*---------TEXT WRITER---------
    ----------------------------*/
    textarea, .textInput {
     font-family: inherit;
     font-size: inherit;
    }

    #liveText{
      margin: 10px;
      /*margin-top:16px;*/
      padding: 10px;
    }

    #textTitle{
      width: 30%;
      outline: none;
    }

    .textContent{
      width: 99%;
      height: 270px;
      resize: none;
      outline:0px none transparent;
      border: 1px dotted black;
      margin-top: 10px;
    }
    /*---------URL SAVER---------
    ----------------------------*/

    #urlOptions{
      padding-left:10px;
      height:150px;
    }

    .urlTxt{
      width: 40%;
      outline: none;
      margin-top:10px;
    }

    #viewUrl{
      margin-left: 25%
    }

    #wrap {
    width: 50%;
    height: 80%;
    padding: 0;
    float:right;
    margin: 10px;
}

    #frame {
      width: 100%;
      height:100%;
      overflow: hidden;
    }

    /*---------UPLOADER-----------
    ----------------------------*/
    progress {
        height: 8px;
        width: 240px;
        background: white;
        border: 1px solid black; /* Needed for Firefox */
        -webkit-appearance: none; /* Needed for WebKit/Blink */
    }
    progress::-webkit-progress-bar {
        background: transparent;
    }
    progress::-moz-progress-bar {
        background: white;
    }
    progress[value]::-moz-progress-bar {
      background: black;
    }
    progress::-webkit-progress-value {
        background: black;
    }


    #send {
      cursor: pointer;
      color:black;
      background-color:white;
      border: 2px solid black;
      display:inline;
      /*display:none;*/
    }
    .btn{ }
    .btn:focus {outline:0;}
    .btn:active{opacity: 1.00;}

    #fileInput{
      display: none;
      opacity:0.2;
      width:0px;
      height:0px;
    }

    #inputLabel{
      font-size: 22pt;
      cursor: pointer;
      line-height:25px;
    }
    /*#sendLabel{
      font-size:40px;
      cursor: pointer;
      line-height:25px;
    }*/

    #talkBox{
      margin-left: 10px;
      width: 140px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }



    @media only screen and (max-width:800px) {
     body {
     background-color:blue;
     color:white
     }
    }

    /*---------COLONNE 3-----------
    ----------------------------*/

    .rect{
      border: 2px dotted black;
      margin: 10px;
      padding: 5px;
    }
    .group{
      font-size: 18pt;
      line-height: 20pt;
      cursor: pointer;
    }
    .group:active{
      color: limegreen;
    }
    .radio {
      display: none;
    }
    .icontime{
      font-size: 18pt;
      line-height: 20pt;
    }

    .starter{
      font-size: 18pt;
      cursor: pointer;
      float: right;
      margin-right: 15px;
    }
    .starter:active{
      color: limegreen;
    }
    #sendFile{
      margin-top:16px;
    }
    #selectedFileGO{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .exactHour{
      width: 35px;
      outline: 0px none;
    }

    /*--------- RANGE -----------
    ----------------------------*/
    #delay{
      width: 60%;
    }
    input[type=range]{
    -webkit-appearance: none;
    border: 1px solid black;
    margin-left:0px;
    }
    input[type=range]:focus {
        outline: none;
    }
    /*-------WEBKIT-------*/
    input[type=range]::-webkit-slider-runnable-track {
        height: 16px;
        background: #fff;
        /*border: 1px solid black;*/
        border-radius: 0px;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 4px;
        border-radius: 0;
        background: black;
    }
    /*-------RANGE FF-------*/
    input[type=range]::-moz-range-track {
        height: 16px;
        background: #fff;
        border-radius: 0;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 4px;
        border-radius: 0;
        background: black;
    }



    /*---------- TASK MANAGER ----------*/
    /*---------------------------------*/

    .taskView{
      margin-top: 8px;
      line-height: 25px;
      cursor: pointer;
      box-sizing: border-box;
      height:25px;

    }

    .taskText{
      display: inline-block;
      max-width:90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .delHide{
      display:none;

    }
    .delView{
      display:inline;

    }
    #deleteTask{
      font-size: 15pt;
      line-height:25px;
      float:right;
      margin-right:2px;
      vertical-align: middle;
    }
