
body
{
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  background-color: white;
  max-width: 1400px;
  min-width:700px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
::-webkit-scrollbar{
  width: 12px;
}
/*::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
  border: 2px dashed blue;
}*/



#colonne1{
  float:left;
  width: 15%;
  min-width: 100px;
  display:inline-block;
}
#colonne2{
  float:left;
  width: 85%;
}
/*@media (max-width:830px) {
  #colonne1{
    float:left;
    width: 100px;
  }
  #colonne2{
    float:left;
    width: 700px;
  }
}*/
#col1_header{
  line-height: 28px;
  height: 30px;
  border-bottom: 2px dashed blue;
}
.leftSection{
  margin-top: 20px;
  padding-bottom: 10px;
  margin-right:20px;
  border-bottom: 2px dashed blue;
}
#header{
  height: 30px;
  border-bottom: 2px dashed blue;
}
.header{
  margin-right: -4px;
  line-height: 28px;
  text-align: left;
  display:inline-block;
  padding-left: 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header.col_section{
  letter-spacing: 5px;
}
#users{
  width:101%;
  height:90vh;
  overflow-y:scroll;
}
.user{
  width:100%;
  margin-top: 15px;
}
.user_field{
  margin-right: 0px;
  display: inline-block;
  padding-left: 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col_actif{
  width:5%;
}
.col_name{
  width:12%;
}
.col_os{
  width:8%;
}
.col_num{
  width:12%;
}
.col_event{
  width:22%;
}
.col_group{
  width:8%;
}
.col_section{
  width:12%;
}
.col_force{
  width:7%;
}
.col_save{
  float: right;
  width:5%;
  font-size:14pt;
}





/*------------------UI-------------------*/

.textInput{
 margin-bottom: 10px;
 width: 65%;
 font-family: 'Lato';
 font-size: 10pt;
 height: 20px;
 border: 1px solid lightgrey;
 padding-left: 2%;
}
.textInput:focus{
  outline: none;
}
.leftButton{
  color: #606060;
  font-size: 14pt;
  float:right;
  margin-right: 0%;
}
.leftButton:active{
  color: blue;
    font-size: 15pt;
}

.leftAdd{
  margin-top:5px;
}
#addEvent{
  margin-top:6px;
}

.fa-circle{
  font-size: 14pt;
}
.inactive{
  color: #DDDDDD;
}
.active{
  color: #00AA44;
}
.fa-floppy-o{
  font-size: 15pt;
}
.fa-floppy-o:active{
  font-size: 17pt;
}
.userModified{
  color:#00AA44;
}
.dropdown{
  font-family: "Lato";
  font-size:10pt;
  background: url(css/image/arrow.png) no-repeat right #FFFFFF;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0px;
  -webkit-appearance: none;
  }
  .dropdown:focus{
    outline: none;
  }
  .big{
    width:100%;
    height: 24px;
    margin-top:5px;
    padding-left: 4px;
    padding-right: .5em;
  }
  .small{
    width:90%;
    height: 20px;
    padding-left: 4px;
  }

  input[type=checkbox] { display:none; }
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    font-weight: lighter;
    font-size: 14pt;
    letter-spacing: 5px;
    color: #606060;
  }
  .col_section input[type=checkbox] + label:before {content: "\f10c"; }
  .col_section input[type=checkbox]:checked + label:before { content: "\f192"; }

  .col_force input[type=checkbox] + label:before {content: "\f204"; }
  .col_force input[type=checkbox]:checked + label:before { content: "\f205"; }
