
body
{
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  background-color: white;
  max-width: 1300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
::-webkit-scrollbar{
  width: 12px;
}
/*::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
  border: 2px dashed blue;
}*/

#colonne1{
  float:left;
  width: 15%;
  min-width: 100px;
  display:inline-block;
}
#colonne2{
  float:left;
  width: 85%;
}
#col1_header{
  line-height: 28px;
  height: 30px;
  border-bottom: 2px dashed blue;
}
#dates{
  margin-top: 20px;
}
#header{
  height: 30px;
  border-bottom: 2px dashed blue;
}
.header{
  margin-right: -4px;
  line-height: 28px;
  text-align: left;
  display:inline-block;
  padding-left: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.header.col_section{
  letter-spacing: 5px;
}
#users{
  width:101%;
  height:90vh;
  overflow-y:scroll;
}
.user{
  width:100%;
  margin-top: 20px;
}
.user_field{
  /*margin-right: -4px;*/
  display: inline-block;
  padding-left: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.col_actif{
  width:5%;
}
.col_name{
  width:12%;
}
.col_os{
  width:10%;
}
.col_num{
  width:15%;
}
.col_date{
  width:15%;
}
.col_group{
  width:10%;
}
.col_section{
  width:10%;
}
.col_force{
  width:10%;
}




/*------------------UI-------------------*/
.fa-circle{
  font-size: 14pt;
}
.inactive{
  color: #DDDDDD;
}
.active{
  color: #00AA44;
}
.dropdown{
  font-family: "Lato";
  font-size:10pt;

  background: url(css/image/arrow.png) no-repeat right #FFFFFF;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0px;
  -webkit-appearance: none;
  }
  .dropdown:focus{
    outline: none;
  }
  .big{
    width:90%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: .5em;
  }
  .small{
    width:80%;
    height: 20px;
  }

  input[type=checkbox] { display:none; }
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    font-weight: lighter;
    font-size: 14pt;
    letter-spacing: 5px;
    color: #606060;
  }
  .col_section input[type=checkbox] + label:before {content: "\f10c"; }
  .col_section input[type=checkbox]:checked + label:before { content: "\f192"; }

  .col_force input[type=checkbox] + label:before {content: "\f204"; }
  .col_force input[type=checkbox]:checked + label:before { content: "\f205"; }
