

    body
    {
      font-family: Helvetica, Sans-Serif;
      font-size: 18pt;
      background-color: black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

    }

    #visuText{
      border: 1px solid #111;
      min-height: 30px;
      margin: 5px;
      padding: 5px;
    }

    .untyped{
      display:none;
    }

    .typed{
      color: white;
    }

    .falseStart{
      display:none;
    }
    .falseText{
    }
    .falseText_DELETED{
      display:none;
    }
    .falseEnd{
      display:none;
    }

    .cursor{
      margin-left: 2px;
      border-left: 2px solid white;
      display: inline;
      color: grey;
    }
